.bg-img {
    height: 1000px;
    width: 100%;
    position: relative;
    display: flex;
}

.name {
    color: antiquewhite;
    position: absolute;
    top: 150px;
    left: 150px;
    font-family: 'Lexend', sans-serif;
    font-size: xx-large;
}
@media (max-width:500px) {
    .name {
        top: 120px;
        left: 20px;
        font-size: 20px;
    }
}

.mid-cont {
    display: grid;
    grid-template-rows: 400px 1fr;
    
    width: 100%;
    height: 100vh;
    width: 100%;
    background-color: black;
    
}
.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img > img {
    height: 360px;
    width: 360px;
    border-radius: 50%;
    margin: 10px;
    border-style: solid;
    border-width: 6px;
    border-color: goldenrod;
    transform: rotate(10deg);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px; */
}

.about > div {
    color: whitesmoke;
    font-size: 28px;
    border: whitesmoke solid;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-width: 5px;
    padding-left: 10px;
    font-weight:100;
    margin-top: 10px;
    font-family: 'Nanum Myeongjo', serif;
    line-height: 30px;
}

.about > div > p {
    padding: 10px 10px 10px 10px;
    
}

.education {    
    /* background: rgb(6,0,0);
    background: linear-gradient(180deg, rgba(6,0,0,1) 47%, rgba(237,228,228,1) 75%, rgba(237,228,228,1) 100%); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EDE4E4;
}

.edu-whole {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 50px;   
    
    margin-bottom: 100px;
}

.edu {
    grid-row: 1/ span 3 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 40px;
    color: #5e17eb;
   
}

.edu-head {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 70px;
}

.edu-foot {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 28px;
}

.percent {
    color: #5e17eb;
    font-weight: bold;
}



.experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EDE4E4;
}

.exp-whole {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(2,1fr);
    margin-top: 100px;

}

.exp {
    grid-row: 1/ span 2 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 40px;
    color: #5e17eb;
}

.exp-head {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 30px;
}

.comp-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    line-height: 50px;
    color: #ff7505;
}

.exp-desc {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}

.jetkings {
    margin-bottom: 50px;
}

.ngo {
    margin-bottom: 150px;
}

.technologies {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 300px repeat(2, 1fr);
    /* grid-gap:50px; */
    background-color: #EDE4E4;
}

.tech-heading {
    grid-column: 1 /span 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
    color: #5e17eb;
    font-size: 30px;
}

.tech-img {
    height: 90px;
    width: 90px;
    padding-top: 10px;
}



.sub {
    display: grid;
    grid-template-rows: 100px 300px;
    flex-basis: 400px; 
    grid-gap: 10px;
    color: white;
    border: black solid;
    border-radius: 10px;
}

.tech-sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.tech-black {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.tech-head {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    align-content: center;
}

@media (max-width:850px) {
    .tech-heading {
        grid-column: 1;
    }
    .technologies {

        grid-template-columns: 1fr;
        grid-template-rows: 200px repeat(4, 1fr);
    }
}

.tech-text {
    font-family: 'Alegreya Sans', sans-serif;
    justify-content: flex-start;
    padding-left: 20px;
    font-size: 25px;
}

.achievements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #EDE4E4;
    flex-shrink: 2;
}

.ach-whole {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 120px;
    margin-bottom: 100px;
}

.ach-head {
    grid-row: 1 / span 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #5e17eb;
    font-size: 2rem;
    align-items: center;
}

.ach-info {
    background-color: #5500fe;
    margin-bottom: 10px;
    color: #9b70ef;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    font-size: 20px;
    min-height: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width:850px) {
    .ach-head {
        grid-row: 1;
    }

    .ach-whole {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
}

.foot {
    display: grid;
    grid-template-rows: 40px 30px;
    background-color: black
}


.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5px;
}
.log-dim > img {
    height: 40px;
    width: 40px;
}

.copy {
    color: #EDE4E4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
@media (max-width:600px) {
    .about-para {
        font-size: 18px;
    }
.profile-img > img {
    height: 180px;
    width: 180px;
}
.edu {
    font-size: 18px;
}
.edu-head {
    font-size: 15px;
    line-height: normal;
}
.break {
    font-size: 18px;
}
}

@media (max-width:500px)  {
    .technologies {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .tech-heading {
        font-size: 25px;
    }
}

/* body {
    min-width: 750px;
} */
* {
    margin: 0;
    padding: 0;
}